@model IEnumerable<OpenRobotics.Models.ContasReceber>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de contas a receber</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Criar novo</a>
</p>
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Data de emissão
            </th>
            <th>
                Número do documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competencia)
            </th>
            <th>
                Forma de pagamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Historico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdContaReceber">
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.IdContaReceber"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}