@model IEnumerable<OpenRobotics.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-action="Create" class="btn btn-outline-primary">Criar novo usuário</a>
            </div>
            <div class="col">
                <input class="form-control" type="text" id="pesquisa" placeholder="Pesquisar" style="width: 50%; float:right">
            </div>
        </div>
    </div>
</p>
<table class="table sortable" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>Desligado?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Descricao)
                </td>
                <td>
                    <form method="post" asp-action="AlterarDesligamento">
                        <input type="hidden" name="id" asp-for="@item.Id" />
                        @if(item.Desligado == 1)
                        {
                            <button type="submit" class="btn btn-danger btn-sm fa-solid fa-power-off"></button>
                        }else
                        {
                            <button type="submit" class="btn btn-success btn-sm fa-solid fa-power-off"></button>
                        }
                    </form>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>